html,
body {
	font-size: 16px;
	letter-spacing: 0.01rem;
	background-color: #f7f7f6;
}
body.noOverflow {
	overflow: hidden;
}
body {
	font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body * {
	box-sizing: border-box;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
	margin: 0;
	line-height: 1.4;
}

a {
	color: var(--link-color);
	-webkit-text-decoration: none;
	text-decoration: none;
	cursor: pointer;
}
button {
	/* padding: 8px 16px; */
	padding: 14px 16px;
	border: 1px solid var(--button-color);
	color: var(--button-color);
	/* background: transparent; */
	/* font-size: 16px; */
	background: #ffffff;
	font-size: 14px;
	line-height: 1.25;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
}
button:hover,
button:focus {
	color: #ffffff;
	border-color: #00abb8;
	background: #00abb8;
}
label {
	display: inline-block;
	margin-bottom: 8px;
	font-weight: 500;
}
input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea {
	/* padding: 14px 20px; */
	padding: 14px 12px;
	background: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	font-size: 16px;
	line-height: 1.25;
	outline: none;
	box-shadow: none;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='password']:focus,
textarea:focus {
	border-bottom: 2px solid var(--button-color);
	padding-bottom: 13px;
}
img {
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

:root {
	--link-color: #00858a;
	--header-height: 70px;
	--button-color: #0697a2;
	--icon-box-color: #e0f5f6;
	--box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.07);
	--hover-box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.07);
	--dropdown-shadow: 0px 0px 60px rgba(83, 87, 101, 0.1);
	--sideBar-width: 265px;
	--resonsive-sideBar-width: 70px;
}
